
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-10 offset-md-1 border p-3">
      <h3>Profile Details</h3>
      <div class="row mt-3">
        <div class="col-md-2 mb-4">
              <!--<span class="">
                <img
                  class="float-end"
                  src="assets/images/profile-picture.jpg"
                  alt="Profile picture"
                  style="height: 5rem; width: auto; border-radius: 50%"
                >
              </span>-->
          <div class="avatar-container" style="height: 150px; width: 150px; border: solid 1px #eee">
            <div class="image-container">
              <img [src]="profileData?.img" alt="{{ labels.altText }}" style="height: 150px; width: 150px">
            </div>
          </div>
        </div>
        <div class=" col-md-4 mt-3">
          <div class="input-group mb-3">
            <input type="file" class="form-control" accept="image/*" (change)="onFileChange($event)">
            <span class="input-group-text btn btn-primary" (click)="uploadProfilePicture()" ><i class="pi pi-upload"></i></span>
          </div>
        </div>

        <div class="col-md-6"></div>

        <div class="col-md-6">
          <form [formGroup]="profileForm">
            <div class="mb-3">
              <label for="name" class="form-label">{{ labels.name }}</label>
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="name"
                aria-describedby="nameHelp"
                (keyup)="checkFormStatus()"
              >
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [value]="currentUser?.email"
                aria-describedby="emailHelp"
                [disabled]="true"
              >
            </div>
            <div class="mb-3">
              <label for="bio" class="form-label">About</label>
              <textarea
                formControlName="bio"
                class="form-control"
                id="bio" rows="3"
                (keyup)="checkFormStatus()"
              ></textarea>
            </div>
          </form>
          <div class="row">
            <div class="col-md-8">
              <button *ngIf="isFormTouched" type="submit" class="btn btn-secondary me-1" (click)="clearForm()">Cancel</button>
              <button type="submit" class="btn btn-primary" (click)="updateProfile()">Save Changes</button>
            </div>
            <div class="col-md-4 text-end">
              <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteAccountLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 text-danger" id="deleteAccountLabel">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">Are you sure you want to delete your account? <br>
        This action cannot be reversed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button (click)="deleteProfile()" type="button" class="btn btn-danger">Delete Account</button>
      </div>
    </div>
  </div>
</div>
