<div class="container my-5">
  <div class="col-sm-10 offset-sm-1 border p-2">
    <!--<p class="lead fw-medium text-center text-primary">New Booking</p>-->

    <form [formGroup]="bookingForm">
      <div class="row">

        <div class="col-md-5 col-sm-12">
          <div class="form-control border-0">
            <p-calendar formControlName="date" [inline]="true" (click)="sliceTime()"></p-calendar>
            <div class="text-danger" *ngIf="formErrors?.date">{{ formErrors?.date }}</div>
          </div>
        </div>

        <div class="col-md-3 col-sm-12" style="height: 65vh; overflow-y: auto; position: relative;">
          <div class="text-danger" *ngIf="formErrors?.time">{{ formErrors?.time }}</div>
          <ng-container *ngFor="let time of slicedTime">
            <div class="time-select mt-2">
              <input type="radio" class="btn-check" name="time" [attr.id]="time" autocomplete="off" (click)="selectTime(time)">
              <label class="btn btn-outline-primary btn-full-width" [attr.for]="time">{{ time | date: 'shortTime' }}</label>
            </div>
          </ng-container>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="client-info">
            <p class="lead fw-bold text-secondary">Abajo Abisoye</p>
            <h3 class="text-primary mb-2">Medical Consultation</h3>

            <table class="table table-borderless">
              <tbody>
              <tr>
                <th scope="row">Duration</th>
                <td>30 minutes</td>
              </tr>
              <tr>
                <th scope="row">Location</th>
                <td>Google Meet</td>
              </tr>
              <tr>
                <th scope="row">Fee</th>
                <td>N2,500</td>
              </tr>
              </tbody>
            </table>

            <!--<span class="lead"><span class="text-primary fw-medium">Duration</span>: 30 min</span> <br>
            <span class="lead"><span class="text-primary fw-medium">Location</span>: Google Meet</span> <br>
            <span class="lead"><span class="text-primary fw-medium">Fee</span>: N2,500</span>-->
          </div>
          <div class="mt-4">
            <input formControlName="name" type="text" class="form-control" placeholder="Name" aria-label="Name">
            <div class="text-danger" *ngIf="formErrors?.name">{{ formErrors?.name }}</div>
          </div>
          <div class="mt-3">
            <input formControlName="email" type="email" class="form-control" placeholder="Email" aria-label="Email">
            <div class="text-danger" *ngIf="formErrors?.email">{{ formErrors?.email }}</div>
          </div>
          <div class="form-floating mt-3">
            <textarea formControlName="message" class="form-control" id="floatingTextarea" id="message"></textarea>
            <label for="message">Any other information you'd like to share?</label>
          </div>
        </div>
      </div>

      <!--<div class="row mt-3">
        <div class="co-sm-12 col-md-6 mt-3">
          <input formControlName="mobile" type="text" class="form-control" placeholder="Mobile" aria-label="Mobile" required>
          <div class="text-danger" *ngIf="formErrors?.mobile">{{ formErrors?.mobile }}</div>
        </div>
        <div class="col-sm-12 col-md-6 mt-3">
          <input formControlName="purpose" type="text" class="form-control" placeholder="Location(dropdown, edit backend)" aria-label="Location">
        </div>

        <div class="col-sm-12 col-md-6">
          <input formControlName="gender" type="radio" class="btn-check" value="male" id="option5" autocomplete="off" checked>
          <label class="btn" for="option5">Male</label>

          <input formControlName="gender" type="radio" class="btn-check" value="female" id="option6" autocomplete="off">
          <label class="btn" for="option6">Female</label>

          <input formControlName="gender" type="radio" class="btn-check" value="others" id="option7" autocomplete="off">
          <label class="btn" for="option7">Others</label>
        </div>
      </div>-->

      <!--<div class="row mt-3">
        <div class="col-sm-12 col-md-6 mt-3">
          &lt;!&ndash;<input formControlName="date" type="date" class="form-control" placeholder="Date" aria-label="Date">&ndash;&gt;

        </div>
        <div class="col-sm-12 col-md-6 mt-3">
          <input formControlName="time" type="time" class="form-control" placeholder="Time" aria-label="Time">
          <div class="text-danger" *ngIf="formErrors?.time">{{ formErrors?.time }}</div>
        </div>

      </div>-->

      <div class="row mt-3">
        <div class="col-sm-12 text-end">
          <button class="btn btn-outline-primary me-2">Reset Form</button>
          <button class="btn btn-primary" (click)="saveBooking()">Proceed to Payment</button>
        </div>
      </div>
    </form>

  </div>
</div>
