<!--<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
    <th scope="col">Email</th>
    <th scope="col">Location</th>
    <th scope="col">Message</th>
    <th scope="col">Meeting Type</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booking of filteredBookings">
    <td>{{ booking?.date | date }}</td>
    <td>{{ booking?.time | date: 'shortTime'}}</td>
    <td>{{ booking?.email }}</td>
    <td>{{ booking?.location }}</td>
    <td>{{ booking?.message }}</td>
    <td>{{ booking?.meetingType }}</td>
    <td class="action-icons">
      <span (click)="editBooking(booking)">
        <i class="pi pi-pencil text-success me-3"></i>
      </span>
      <i class="pi pi-times text-danger"></i>
    </td>
  </tr>
  </tbody>
</table>-->



<p-table
  [value]="filteredBookings"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50]"
>
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Email</th>
      <th scope="col">Location</th>
      <th scope="col">Message</th>
      <th scope="col">Meeting Type</th>
      <th scope="col">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-booking>
    <tr>
      <td>{{ booking?.date | date }}</td>
      <td>{{ booking?.time | date: 'shortTime'}}</td>
      <td>{{ booking?.email }}</td>
      <td>{{ booking?.location }}</td>
      <td>{{ booking?.message }}</td>
      <td>{{ booking?.meetingType  | titlecase }}</td>
      <td class="action-icons">
      <span (click)="editBooking(booking)">
        <i class="pi pi-pencil text-success me-3"></i>
      </span>
        <i class="pi pi-times text-danger"></i>
      </td>
    </tr>
  </ng-template>
  <!--<ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
  </ng-template>-->
</p-table>
