<div class="container mt-5">
  <div class="col-sm-10 offset-sm-1 border p-3">
    <p class="lead fw-medium text-primary">Booking Details</p>

    <table class="table table-bordered">
      <tbody>
      <tr>
        <td><span class="fw-medium">Invoice no:</span> 123456789AB</td>
        <td><span class="fw-medium">Name:</span> {{ booking?.name }}</td>
        <td><span class="fw-medium">Payment status:</span> PENDING ({{ meeting?.price | currency: 'N' }})</td>
      </tr>
      <tr>
        <td><span class="fw-medium">Email:</span> {{ booking?.email }}</td>
        <td><span class="fw-medium">Date:</span> {{ booking?.date | date }}</td>
        <td><span class="fw-medium">Time:</span> {{ booking?.time | date: 'shortTime'}}</td>
      </tr>
      <tr>

      </tr>
      <tr>
        <td colspan="3"><span class="fw-medium">Additional Info: </span>{{ booking?.message }}</td>
      </tr>
      </tbody>
    </table>

    <div class="row mt-3">
      <div class="col-sm-6 offset-sm-6 text-end">
        <button class="btn btn-outline-primary me-2" (click)="goBack()">Go back</button>
        <button class="btn btn-primary" (click)="proceedToPayment()">Make payment</button>
      </div>
    </div>

  </div>
</div>
