<div class="container">
  <div class="row">
    <div class="col-sm-12 p-3">
      <ul class="nav nav-underline" id="scheduledMeetings" role="tablist">
        <li class="nav-item me-3" role="presentation">
          <a
            class="nav-link active"
            id="upcoming-meetings-tab"
            data-bs-toggle="tab"
            href="#upcoming-meetings"
            role="tab"
            aria-controls="upcoming-meetings"
            aria-selected="true"
          >
            Upcoming
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pending-meetings-tab"
            data-bs-toggle="tab"
            href="#pending-meetings"
            role="tab"
            aria-controls="pending-meetings"
            aria-selected="false"
          >
            Pending
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="past-meetings-tab"
            data-bs-toggle="tab"
            href="#past-meetings"
            role="tab"
            aria-controls="past-meetings"
            aria-selected="false"
          >
            Past
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="date-range-meetings-tab"
            data-bs-toggle="tab"
            href="#date-range-meetings"
            role="tab"
            aria-controls="date-range-meetings"
            aria-selected="false"
          >
            Date Range
          </a>
        </li>
      </ul>

      <div class="tab-content my-4" id="scheduledMeetingsContent">

        <div class="tab-pane fade show active" id="upcoming-meetings" role="tabpanel" aria-labelledby="upcoming-meetings-tab">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Email</th>
              <th scope="col">Location</th>
              <th scope="col">Message</th>
              <th scope="col">Meeting Type</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let booking of bookings">
              <td>{{ booking?.date | date }}</td>
              <td>{{ booking?.date | date: 'shortTime'}}</td>
              <td>{{ booking?.email }}</td>
              <td><!--{{ booking?.location }}--></td>
              <td>{{ booking?.message }}</td>
              <td>{{ booking?.meetingType }}</td>
              <td>
                <i class="pi pi-pencil text-success me-3"></i>
                <i class="pi pi-times text-danger"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="pending-meetings" role="tabpanel" aria-labelledby="pending-meetings-tab">
          <div class="row">
            pending meetings
          </div>
        </div>

        <div class="tab-pane fade" id="past-meetings" role="tabpanel" aria-labelledby="past-meetings-tab">
          <div class="row">
            past meetings
          </div>
        </div>

        <div class="tab-pane fade" id="date-range-meetings" role="tabpanel" aria-labelledby="date-range-meetings-tab">
          <div class="row">
            date-range meetings
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
