<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-4 border p-3 text-center">
      <ng-container *ngIf="!isConfirmed">
        <h4>Confirm registration</h4>
        <p>{{ confirmationMessage | titlecase }}</p>
      </ng-container>
      <ng-container *ngIf="isConfirmed">
        <h4 class="text-primary">Success!</h4>
        <p class="lead fw-medium">Your account has been confirmed!</p>
        <a class="btn btn-primary" routerLink="/auth/login">Click here to login</a>
      </ng-container>
    </div>
  </div>
</div>
