<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-4 border p-3">
      <h3>Forgot Password</h3>
      <p class="alert alert-warning">Enter your email and we'll send a password reset link to your registered email address</p>
      <form [formGroup]="forgotPasswordForm">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="email"
            placeholder="Email"
            formControlName="email"
          >
        </div>

        <button type="submit" class="btn btn-primary" (click)="sendResetPasswordLink()">Reset Password</button>
      </form>

      <div class="row mt-3">
        <div class="col-sm-6">
          <a routerLink="/auth/login">Login</a>
        </div>
        <div class="col-sm-6 text-end">
          <a routerLink="/auth/forgot-password">Register</a>
        </div>
      </div>

    </div>
  </div>

</div>
