/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
}

/*General styles*/
.btn, .form-control, .form-select {
  border-radius: 0;
}


.btn {
  /*width: 100px;*/
}

.btn-primary, .btn-check:checked + .btn {
  background: #1050a5;
  border: none;
}

.btn-outline-primary {
  color: #1050a5;
  border: solid 1px #1050a5;
  font-weight: 400;
}

.btn-full-width {
  width: 100%
}

.text-primary {
  color: #1050a5!important;
}

.nav-item .nav-link {
  color: #1050a5!important;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 5px;
  border-radius: 0;
}

.nav-item .nav-link:hover {
  color: #fff!important;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  background: #1050a5;
}

.card {
  border-radius: 0;
}

.card .card-body {
  padding: 0.5rem;
}

.meeting-card {
  padding: 0.5rem 0.5rem 0.1rem!important;
}


