/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  color: #616161;
}

/*General styles*/
.btn, .form-control, .form-select {
  border-radius: 0;
}


.btn {
  /*width: 100px;*/
}

.btn-primary, .btn-check:checked + .btn {
  background: #1050a5;
  border: none;
}

.btn-outline-primary {
  color: #1050a5;
  border: solid 1px #1050a5;
  font-weight: 400;
}

.btn-full-width {
  width: 100%
}

.text-primary {
  color: #1050a5!important;
}

header .nav-item .nav-link {
  color: #1050a5!important;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 5px;
  border-radius: 0;
}

header .nav-item .nav-link:hover {
  color: #fff!important;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  background: #1050a5;
}

#settingsTab li a, #scheduledMeetings li a {
  color: #1050a5;
  margin-right: 20px;
}

.card {
  border-radius: 0;
}

.card .card-body {
  padding: 0.5rem;
}

.meeting-card {
  padding: 0.5rem 0.5rem 0.1rem!important;
}

.action-icons i {
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  /*box-shadow: 0 0 45px rgba(0, 0, 0, .07);*/
}

.action-icons i:hover {
  margin-right: 1rem;
  background: lightgray;
  color: #1050a5;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: font-size 0.5s;
}

/*tooltip*/
.tooltip-action {
  /*position: relative;*/
  /*display: inline-block;*/
}

.tooltip-action .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: lightgray;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  cursor: pointer;

  /* Position the tooltip */
  position: absolute;
  top: 40px;
  right: 12%;
}

.tooltip-action:hover .tooltiptext {
  visibility: visible!important;
}

