<div class="container-fluid">

  <div class="row text-center">
    <div class="banner col-md-6">
      <h1 class="text-primary">Nigeria's best <br>scheduling application</h1>
      <p class="lead fw-medium mt-5">
        Ipade is the easiest and fastest way to schedule meetings. <br>
        Suitable for professionals and artisans.
      </p>
      <div class="text-center my-5">
        <a routerLink="/register" class="btn btn-primary fw-medium"
           style="border-radius: 5px; padding: 10px 30px;"
        >Sign up for free</a>
      </div>
    </div>
    <div class="col-md-6 collage">
      <div class="row">

        <div class="col-md-4 first-column">
          <div class="image-1">
          </div>
          <div class="image-2">
          </div>
        </div>

        <div class="col-md-4 second-column">
          <div class="image-3"></div>
        </div>

        <div class="col-md-4 third-column">
          <div class="image-4"></div>
          <div class="image-5"></div>
          <div class="image-6"></div>
          <div class="image-7"></div>
        </div>


      </div>
      <!--<div class="row mt-2">
        <div class="col-md-4 collage-item">
          <div></div>
        </div>
        <div class="col-md-4 collage-item">
          <div></div>
        </div>
        <div class="col-md-4 collage-item">
          <div></div>
        </div>
        <div class="col-md-4 collage-item">
          <div></div>
        </div>
        <div class="col-md-4 collage-item">
          <div></div>
        </div>
        <div class="col-md-4 collage-item">
          <div></div>
        </div>
      </div>-->
    </div>
  </div>

</div>

<section id="features">
  <div>
    <h3 class="feature-title">Our Features</h3>
  </div>

  <div class="">
    <div class="row text-center">
      <div class="col-md-3 feature">
        <div class="feature-content"></div>
        <p>Accept Online Booking</p>
      </div>
      <div class="col-md-3 feature">
        <div class="feature-content"></div>
        <p>Notifications via email</p>
      </div>
      <div class="col-md-3 feature">
        <div class="feature-content"></div>
        <p>Book directly from the app</p>
      </div>

      <div class="col-md-3 feature">
        <div class="feature-content"></div>
        <p>Accept payment</p>
      </div>
      <!--<div class="col-md-4 feature">
        <div class="feature-content"></div>
        <p>Notifications via email</p>
      </div>
      <div class="col-md-4 feature">
        <div class="feature-content"></div>
        <p>Book directly from the app</p>
      </div>-->

    </div>
  </div>
</section>
