<div class="container">
  <div class="jumbotron">
    <h1 class="text-center text-primary">Naija best booking app for professionals</h1>

    <p class="lead fw-medium text-center mt-5">Ipade makes it easy for professionals to be booked and paid without hassle!</p>
  </div>
</div>



<!--<div class="container mt-5">
  <div class="row">
    <div class="col-sm-10 offset-md-1 border p-3">

      <ul class="nav nav-underline" id="settingsTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="meeting-types-tab"
            data-bs-toggle="tab"
            href="#meeting-types"
            role="tab"
            aria-controls="meeting-types"
            aria-selected="true"
          >
            Meeting Types
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="scheduled-meetings-tab"
            data-bs-toggle="tab"
            href="#scheduled-meetings"
            role="tab"
            aria-controls="scheduled-meetings"
            aria-selected="false"
          >
            Scheduled Meetings
          </a>
        </li>
      </ul>

      <div class="tab-content my-4 p-3" id="settingsTabContent">

        <div class="tab-pane fade show active" id="meeting-types" role="tabpanel" aria-labelledby="meeting-types-tab">
          <div class="row">
            <div class="col-md-12">
              <span class="">
                <img class="float-start" src="assets/images/profile-picture.jpg" alt="Profile picture" style="height: 30px; border-radius: 50%">
              </span>
              xxxxxx
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="scheduled-meetings" role="tabpanel" aria-labelledby="scheduled-meetings-tab">
          <div class="row">
            something else tab
          </div>
        </div>

      </div>
    </div>
  </div>
</div>-->
