
::ng-deep .p-inputtext {
  padding: 0.4rem;
  border-radius: 0;
}

::ng-deep .p-scrollpanel .p-scrollpanel-bar {
  background: #1050a5;
  border: 0 none;
}

.tab-content {
  background: #eee;
  padding: 0.5rem;
}

#shareChannel {
  padding: 10px;
  cursor: pointer;
}

#shareChannel:hover, #shareChannel.active {
  border: solid 1px gray;
  background: lightgray;
  border-radius: 5px;
  padding: 12px;
  transition: padding 0.5s;
}
